body {
	font-family: avenir, sans-serif;
}

.grid {
	display: grid;
	width: 100vw;
	background-color: #fafafa;
	grid-template-columns: 12.5fr 12.5fr 12.5fr 12.5fr 12.5fr 12.5fr 12.5fr 12.5fr;
	grid-template-rows: 33.33fr 33.33fr 33.33fr;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto;
	gap: 1rem 1rem;
}

.cell {
	height: 100%;
	min-width: 10vw;
	min-height: 10vw;
}
.cell label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/* transition: all 1s; */
}
.cell label svg {
	/* overflow: visible; */
	margin-left: auto;
	margin-right: auto;
}
.cell label p {
	height: 0;
	overflow: hidden;
	/* transition: all 1s; */
	max-width: 16rem;
}

.cell  {
	transition: all 0.5s;
}
.cell input[type="radio"] {
	background-color: #fee;
	width: 0;
	height: 0;
	opacity: 0;
	display: none;
	line-height: 0;
}
.cell input[type="radio"]:checked ~ label {
	/* content: ''; */
	width: 75vw;
	height: 40vw;
	background-color: #fff;
}

.cell input[type="radio"]:checked ~ label p {
	height: auto;
}
