body {
	font-family: avenir, sans-serif;
}

.grid {
	display: grid;
	width: 100vw;
	max-width: 100vw;
	min-height: 50vw;
	background-color: #fafafa;
	grid-template-columns: 12.5fr 12.5fr 12.5fr 12.5fr 12.5fr 12.5fr 12.5fr 12.5fr;
	grid-template-rows: 33.33fr 33.33fr 33.33fr;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto;
	gap: 1rem 1rem;
	/* gap: 0 0; */
}

.cell {
	width: 0;
	/* height: 100%;
	min-width: 10vw;
	min-height: 3vw;
	background-color: white; */
}
.cell label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	height: 100%;
	min-width: 10vw;
	min-height: 3vw;
	background-color: white;
}
.cell label svg {
	margin-left: auto;
	margin-right: auto;
}
.cell label p {
	height: 0;
	overflow: hidden;
	max-width: 24rem;
}

.cell  {
	transition: all 0.5s;
}

.cell.empty {
	opacity: 0;
	max-width: 5vw;
	max-height: 2vh;
}

/* input[type="radio"] {
	background-color: #fee;
	width: 0;
	height: 0;
	opacity: 0;
	display: none;
	line-height: 0;
} */

[id="checkbox_1"]:checked ~ .grid .cell:nth-child(1),
[id="checkbox_2"]:checked ~ .grid .cell:nth-child(2),
[id="checkbox_3"]:checked ~ .grid .cell:nth-child(3),
[id="checkbox_4"]:checked ~ .grid .cell:nth-child(4),
[id="checkbox_5"]:checked ~ .grid .cell:nth-child(5),
[id="checkbox_6"]:checked ~ .grid .cell:nth-child(6),
[id="checkbox_7"]:checked ~ .grid .cell:nth-child(7),
[id="checkbox_8"]:checked ~ .grid .cell:nth-child(8),
[id="checkbox_9"]:checked ~ .grid .cell:nth-child(9),
[id="checkbox_10"]:checked ~ .grid .cell:nth-child(10),
[id="checkbox_11"]:checked ~ .grid .cell:nth-child(11),
[id="checkbox_12"]:checked ~ .grid .cell:nth-child(12),
[id="checkbox_13"]:checked ~ .grid .cell:nth-child(13),
[id="checkbox_14"]:checked ~ .grid .cell:nth-child(14),
[id="checkbox_15"]:checked ~ .grid .cell:nth-child(15),
[id="checkbox_16"]:checked ~ .grid .cell:nth-child(16),
[id="checkbox_17"]:checked ~ .grid .cell:nth-child(17),
[id="checkbox_18"]:checked ~ .grid .cell:nth-child(18),
[id="checkbox_19"]:checked ~ .grid .cell:nth-child(19),
[id="checkbox_20"]:checked ~ .grid .cell:nth-child(20),
[id="checkbox_21"]:checked ~ .grid .cell:nth-child(21),
[id="checkbox_22"]:checked ~ .grid .cell:nth-child(22),
[id="checkbox_23"]:checked ~ .grid .cell:nth-child(23),
[id="checkbox_24"]:checked ~ .grid .cell:nth-child(24) {
	width: 75vw;
	height: 30vw;
	background-color: white;
}

[id="checkbox_1"]:checked ~ .grid .cell:nth-child(1) p,
[id="checkbox_2"]:checked ~ .grid .cell:nth-child(2) p,
[id="checkbox_9"]:checked ~ .grid .cell:nth-child(9) p {
	height: auto;
}

/* Also be sure to hide irrelevant spaces */
[id="checkbox_9"]:checked ~ .grid .cell.hide_9 label {
	width: 0;
	height: 0;
	display: none;
}